In [58]:
import re
import pandas as pd
from sqlalchemy import create_engine

In [8]:
chess_data = open("chess.pgn").read()

In [35]:
#regex
date_regex = "(?<=\[Date \")(.*)(?=\"])"
white_regex = "(?<=\[White \")(.*)(?=\"])"
black_regex = "(?<=\[Black \")(.*)(?=\"])"
result_score_regex = "(?<=\[Result \")(.*)(?=\"])"
match_time_regex = "(?<=\[TimeControl \")(.*)(?=\"])"
end_result = "(?<=\[Termination \")(.*)(?=\"])"

In [36]:
dates = re.findall(date_regex, chess_data)
white_player = re.findall(white_regex, chess_data)
black_player = re.findall(black_regex, chess_data)
result_score = re.findall(result_score_regex, chess_data)
match_time_and_inc = re.findall(match_time_regex, chess_data)
end_result = re.findall(end_result, chess_data)

if_white_won = list(map(lambda s: s[0], result_score))
if_black_won = list(map(lambda s: s[2], result_score))

In [40]:
start_time_amount = list()
increments = list()
for time in match_time_and_inc:
    if "+" in time:
        start_time_amount.append(time[:-3])
        increments.append(time[-2:])
    else:
        start_time_amount.append(time)
        increments.append(None)

In [47]:
game_ended_by = list()

for end_string in end_result:
    if "time" in end_string:
        game_ended_by.append("Time")
    elif "checkmate" in end_string:
        game_ended_by.append("Checkmate")
    elif "game abandoned" in end_string:
        game_ended_by.append("Abandoned")
    elif "drawn by agreement" in end_string:
        game_ended_by.append("Drawn by Aggreement")
    elif "stalemate" in end_string:
        game_ended_by.append("Stalemate")
    elif "resignation" in end_string:
        game_ended_by.append("Resignation")
    else:
        game_ended_by.append(None)

In [49]:

start_time_amount_minutes = list(map(lambda n: int(n)//60, start_time_amount))
print(start_time_amount_minutes)

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 10, 10, 10, 10, 10, 10, 10, 10, 10, 15, 10, 10, 5, 10, 10, 10, 8, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 5, 10, 10, 10, 10, 10, 20, 10, 15, 1, 15]

In [59]:
#dates, white_player, black_player, if_white_won, if_black_won, start_time_amount, increments, start_time_amount_minutes
chess_final_data = pd.DataFrame(
    {
        'datePlayed': dates,
        'whitePlayer': white_player,
        'blackPlayer': black_player,
        'ifWhiteWon': if_white_won,
        'ifBlackWon': if_black_won,
        'startTimeSeconds': start_time_amount,
        'secondIncrements': increments,
        'startTimeMinutes': start_time_amount_minutes 
    }
)

In [68]:
chess_final_data[['ifWhiteWon', 'ifBlackWon', 'startTimeSeconds', 'secondIncrements', 'startTimeMinutes']] = chess_final_data[['ifWhiteWon', 'ifBlackWon', 'startTimeSeconds', 'secondIncrements', 'startTimeMinutes']].apply(pd.to_numeric)
chess_final_data['datePlayed'] = pd.to_datetime(chess_final_data['datePlayed'])
chess_final_data

#CREATE TABLE CHESS (D)

,datePlayed,whitePlayer,blackPlayer,ifWhiteWon,ifBlackWon,startTimeSeconds,secondIncrements,startTimeMinutes
0,2023-07-19,Nathan-Hung,squishthatcat,1,0,300,NaN,5
1,2023-07-19,Nathan-Hung,squishthatcat,1,0,300,NaN,5
2,2023-07-19,Nathan-Hung,squishthatcat,1,0,300,NaN,5
3,2023-07-19,squishthatcat,Nathan-Hung,0,1,300,NaN,5
4,2023-07-19,Nathan-Hung,squishthatcat,1,0,300,NaN,5
5,2023-07-19,squishthatcat,Nathan-Hung,1,0,300,NaN,5
6,2023-07-19,Nathan-Hung,squishthatcat,1,0,300,NaN,5
7,2023-07-19,Nathan-Hung,squishthatcat,1,0,300,NaN,5
8,2023-07-19,squishthatcat,Nathan-Hung,1,0,300,NaN,5
9,2023-07-19,Nathan-Hung,squishthatcat,1,0,300,NaN,5
10,2023-07-24,Nathan-Hung,squishthatcat,0,1,600,NaN,10
11,2023-07-24,squishthatcat,Nathan-Hung,0,1,600,NaN,10
12,2023-07-24,Nathan-Hung,squishthatcat,1,0,600,NaN,10
13,2023-07-26,Nathan-Hung,squishthatcat,1,0,600,NaN,10
14,2023-07-26,squishthatcat,Nathan-Hung,1,0,600,NaN,10
15,2023-07-26,Nathan-Hung,squishthatcat,0,1,600,NaN,10
16,2023-07-26,squishthatcat,Nathan-Hung,1,0,600,NaN,10
17,2023-07-27,Nathan-Hung,squishthatcat,1,2,600,NaN,10
18,2023-07-27,squishthatcat,Nathan-Hung,0,1,600,NaN,10
19,2023-07-27,Nathan-Hung,squishthatcat,0,1,900,10.0,15
20,2023-07-27,squishthatcat,Nathan-Hung,1,0,600,NaN,10
21,2023-07-27,Nathan-Hung,squishthatcat,0,1,600,NaN,10
22,2023-07-27,squishthatcat,Nathan-Hung,0,1,300,NaN,5
23,2023-07-28,squishthatcat,Nathan-Hung,1,0,600,NaN,10
24,2023-07-28,Nathan-Hung,squishthatcat,1,0,600,NaN,10
25,2023-07-28,squishthatcat,Nathan-Hung,0,1,600,NaN,10
26,2023-07-28,squishthatcat,Nathan-Hung,0,1,480,10.0,8
27,2023-07-31,Nathan-Hung,squishthatcat,0,1,600,NaN,10
28,2023-07-31,squishthatcat,Nathan-Hung,1,0,600,NaN,10
29,2023-08-01,Nathan-Hung,squishthatcat,1,0,600,NaN,10
30,2023-08-01,squishthatcat,Nathan-Hung,0,1,600,NaN,10
31,2023-08-01,Nathan-Hung,squishthatcat,1,0,600,NaN,10
32,2023-08-01,squishthatcat,Nathan-Hung,0,1,600,NaN,10
33,2023-08-02,Nathan-Hung,squishthatcat,1,0,600,NaN,10
34,2023-08-02,squishthatcat,Nathan-Hung,1,0,600,NaN,10
35,2023-08-04,Nathan-Hung,squishthatcat,1,2,600,NaN,10
36,2023-08-04,squishthatcat,Nathan-Hung,1,0,600,NaN,10
37,2023-08-04,Nathan-Hung,squishthatcat,1,0,600,NaN,10
38,2023-08-04,squishthatcat,Nathan-Hung,1,0,600,NaN,10
39,2023-08-07,squishthatcat,Nathan-Hung,0,1,300,NaN,5
40,2023-08-07,Nathan-Hung,squishthatcat,0,1,600,NaN,10
41,2023-08-07,squishthatcat,Nathan-Hung,0,1,600,NaN,10
42,2023-08-07,Nathan-Hung,squishthatcat,1,0,600,NaN,10
43,2023-08-08,Nathan-Hung,squishthatcat,1,0,600,NaN,10
44,2023-08-08,Nathan-Hung,squishthatcat,1,0,600,NaN,10
45,2023-08-09,squishthatcat,Nathan-Hung,1,0,1200,NaN,20
46,2023-08-09,Nathan-Hung,squishthatcat,1,0,600,NaN,10
47,2023-08-10,squishthatcat,Nathan-Hung,0,1,900,NaN,15
48,2023-08-10,Nathan-Hung,squishthatcat,1,0,60,NaN,1
49,2023-08-11,Nathan-Hung,squishthatcat,0,1,900,NaN,15